.topo {
  background-color: #20232a;
  color: rgb(63, 63, 128);
  padding: 1rem;

  a {
    color: #61dafb;
    text-decoration: none;
  }

  hr {
    border: none;
    border-top: 1px solid;
    margin: 0.4rem 0;
  }
}

.logo {
  vertical-align: middle;
  margin-right: 0.2rem;
  width: 42px;
}

.titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1.5rem;
}

/*.topo a {
  text-decoration: none;
  color: orange;
}*/
