.menu {
  display: flex;
  justify-content: center;
  gap: 2rem;

  a {
    color: #61dafb;
    text-decoration: none;
    font-weight: bold;

    &:hover,
    &:focus {
      transform: scale(1.1);
      color: white;
    }
  }
}
