@import "tailwindcss";

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(255, 255, 255);
  color: #333;
}

footer p {
  font-family: Cambria, serif;
}

.outro-texto {
  text-transform: uppercase;
}

p {
  line-height: 1.5;
}

h2,
h3 {
  margin: 0.5rem 0;
}
